
*.dcx
mods/
__pycache__/
releases/
SoulsOutfitManager_Data.json
env/
dist/
build.bat
SoulsOufitManager.spec
filename.spec
SoulsOutfitManager_Data.json
.DS_Store
output/SoulsOufitManager.exe
SoulsOufitManager.exe
pytoexe.bat
